[defaults]
roles_path = /home/jcluser/junos-terraform-p/examples/ansible/ansible-provider-junos-vqfx-ansible-role/roles:/home/jcluser/junos-terraform-p/examples/ansible/ansible-provider-junos-vqfx-ansible-role/roles
host_key_checking = False
