---
- name: Push XML configuration to QFX with diff
  juniper.device.config:
    host: "{{ ansible_host }}"
    user: "{{ ansible_user }}"
    passwd: "{{ ansible_password }}"
    src: "{{ config_file }}"
    load: merge
    commit: yes
    diff: yes
  register: push_result

- name: Show configuration diff
  debug:
    msg: "{{ push_result.diff | default('No changes detected') }}"

